
 <div class="container d-flex p-3 justify-content-center aligh-items-center">
        
        <div class="signup-container p-4 " >
            <h2 class="text-center">Edit <span class="font-weight-bold">Project</span> </h2>
            <form action="/dev/edit-project/{{editData._id}}"  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" ></label>
                    <input type="text" class="form-control input-style" name="projectName" value="{{editData.projectName}}" autocomplete="off">

                </div>
                <div class="form-group">
                    <label for="" class="mt-2"></label>
                   
                    <input type="file" class="form-control thumb-img-merge input-style fs-input mt-1 mb-2" onchange="viewImage(event)" name="thumbnail" placeholder="Full Name" autocomplete="off">
                     {{!-- <p class="thumb-img-text">Thumbnail</p> --}}
                     <div style="width: 100%;text-align: center;">
                         <img src="/web-thumbnails/{{editData._id}}.png" class="thumb-img-edit" id="imgView">
                     </div>
                    
                </div>
                <div class="form-group">
                    <label for="" class="mt-2"></label>
                    <input type="text" class="form-control input-style mb-1" value="{{editData.programmingLanguage}}" name="programmingLanguage" placeholder="Technology of the website?" autocomplete="off" required>

                </div>
                
                
                <div class="form-group">
                    <label for="" class="mt-2"></label>
                    <input type="number" class="form-control input-style " value="{{editData.pages}}" name="pages" autocomplete="off" placeholder="Number of pages in your website?" required>
                </div>
                <div class="form-group">
                    <label for="" class="mt-2"></label>
                    <input type="number" class="form-control input-style mb-4" value="{{editData.websitePrice}}" name="websitePrice" autocomplete="off" required placeholder="Project Price"> 
                </div>
               
                <button type="submit" class="btn-style float-right" >Update</button>
            </form>
        </div>
</div>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>