<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="stylesheets/website-view-style.css">
    <title>Product Card UI Design</title>

    <!-- Vendor Script -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>



</head>

<body>

 
    <div class="container">
        <div class="imgBx">
            <img src="/web-thumbnails/{{data._id}}.png" style="width:25rem;height: auto;" alt="">
        </div>
        <div class="details">
            <div class="content">
                <h2>{{data.projectName}}<br>
                    <span>Running Collection</span>
                </h2>
                
                <p class="product-colors" style="color: rgb(61, 61, 61);">Available Colors:
                    <span class="black active" data-color-primary="#000" data-color-sec="#212121" data-pic="/web-thumbnails/{{data._id}}.png"></span>
                    <span class="red" data-color-primary="#7E021C" data-color-sec="#bd072d" data-pic="/web-thumbnails/{{data._id}}.png"></span>
                    <span class="orange" data-color-primary="#CE5B39" data-color-sec="#F18557" data-pic="/web-thumbnails/{{data._id}}.png"></span>
                </p>
				<h3>Rs. {{data.websitePrice}}.0</h3>
                <a href="#"><input type="submit" value="Buy Now"></a>
                <br>
					
				<div>
                    <br>
					<ul style="margin-top: 4rem;">
					<li>Website Name:  {{data.projectName}}</li>	 
					<li>Website Name:  {{data.projectName}}</li>
                    <li>Programming Language: {{data.programmingLanguage}}</li>	 
                         <br>
					</ul></div>
            </div>
        </div>
    </div>




</body>

</html>